Pods/
AppDesign.xcodeproj/xcuserdata/rahul.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AppDesign.xcodeproj/xcuserdata/rahul.xcuserdatad/xcschemes/xcschememanagement.plist
AppDesign.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AppDesign.xcodeproj/xcuserdata/rahul.xcuserdatad/xcschemes/xcschememanagement.plist
